@media (max-width: 900px) {
    main {
        width: 100%;
        overflow: hidden;
    }
    .phoneNavbar {
        display: flex;
        position: fixed;
        z-index: 50;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 30px;
        color: white;
        background-color: rgba(0, 0, 0, 0.678);
        padding: 0.5em !important;
        overflow: hidden;
    }
    .togglingMenu.active {
        position: fixed;
        display: flex;
        padding: 10px;
        justify-content: center;
        z-index: 20;
        top: 46px;
        width: 100%;
        height: 300px;
        background-color: #171616af;
        overflow: hidden;
    }
    .togglingMenu ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-top: 10px;
        align-items: center;
    }
    .togglingMenu li {
        display: flex !important;
        width: 100%;
        height: 100px;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        background-color: black;
    }
    .togglingMenu li a {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .togglingMenu button {
        font-size: 16px;
        width: 40%;
        border-radius: 10px;
        margin-top: 10px !important;
        background-color: rgb(187 130 5);
        color: white;
    }
    .togglingMenu {
        display: none;
    }
    .phoneNavbar h2 {
        align-self: center;
        justify-self: center;
        width: 72%;
        text-align: center;
    }
    .navbar {
        display: none;
    }
    .menu {
        width: 22%;
    }
    .menu i {
        font-size: 2em;
        color: white;
    }
    h1 {
        text-align: center;
        font-size: 1.5em;
        color: white;
        min-width: 300px;
    }
    .frontPage h3 {
        font-size: 11px !important;
        margin-top: 15px !important;
    }
    .experience {
        position: absolute;
        bottom: -100px;
        display: flex;
        width: 100%;
        justify-content: center !important;
        gap: 4px;
        align-items: center;
        height: 130px;
        overflow: hidden;
    }
    .experience div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: white;
        min-width: 100px;
        height: 100%;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
    #hundred {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: white;
        min-width: 100px;
        height: 100%;
        box-shadow: rgba(187 130 5) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
    .experience div h4 {
        font-size: 1.8em;
        color: #000;
    }
    .experience div p {
        text-align: center;
        font-size: 11px;
        color: #000;
        width: 90%;
    }
    .firtsPart {
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: 50%;
        width: 100%;
    }
    .photo {
        position: relative;
        display: flex;
        justify-content: center;
        height: 400px;
        width: 50%;
    }
    aside::before {
        content: "";
        font-size: 6em;
        position: absolute;
        right: 200px;
        top: -32px;
        min-width: 200px;
        height: 200px;
        background-color: rgba(187 130 5);
        clip-path: polygon(100% 0%, 9% 8%, 6% 11%, 0 70%, 0 0, 53% 0);
    }
    aside {
        background: url("https://images.pexels.com/photos/4427622/pexels-photo-4427622.jpeg?auto=compress&cs=tinysrgb&w=1200")no-repeat center;
        background-size: cover;
        background-position: center;
        width: 60%;
        height: 100%;
    }
    .secondPart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 65%;
        height: 50%;
    }
    .secondPart h6 {
        font-size: 15px !important;
    }
    .clientSaftly {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 17px;
        width: 95%;
        padding: 10px !important;
    }
    .clientSaftly h5 {
        font-size: 1.1em;
        width: 95%;
        color: #000;
        text-align: center;
    }
    .slash {
        width: 95% !important;
        height: 300px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
    .one {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
    }
    .one h6 {
        font-size: small;
        text-align: center;
        width: 30%;
        height: 30%;
        text-transform: uppercase;
    }
    .miniature {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100%;
        height: 50%;
    }
    .one img {
        margin-left: 7px !important;
        width: 83px;
        height: 90px;
        object-fit: cover;
        border-radius: 100%;
    }
    .especialization {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: auto !important;
        gap: 10px;
        flex-wrap: wrap;
    }
    .consult h4 {
        font-size: 2em;
        color: white;
    }
    .consult p {
        font-size: 0.8em;
        color: white;
    }
    .formulario strong {
        font-size: 2em;
        font-weight: 500;
        color: white;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        width: 70%;
        height: 60%;
        padding-top: 14px !important;
    }
    .contact {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 200px;
        position: relative;
        bottom: 50px;
        overflow: hidden;
    }
    .contact ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
        list-style: none;
    }
    .contact li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1px;
        width: 22%;
        height: 200px;
        background-color: white;
        color: black;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    }
    .contact li h6 {
        font-size: 14px;
        color: rgb(187 130 5);
    }
    .gmail {
        display: flex;
        flex-grow: 2;
        font-size: 18px !important;
        width: 100%;
    }
    i {
        color: rgb(187 130 5);
        font-size: 1.5em;
    }
    .contact li p {
        color: black;
        font-size: 9px;
        padding: 10px !important;
        width: 100%;
        text-align: center;
        height: auto;
    }
}